<main>
    <div class="menu">
        <div class="bar">
            <div class="create">
                <form action="/create" method="get">
                    <button type="submit">Create new Note</button>
                </form>
            </div>
            <div class="style">
                <form action="/" method="get">
                 {{#if options.theme}}
                     <input type="hidden" name="theme" value="dark"/>
                     <button type="submit" class="btn-style-change">Switch to Dark</button>
                 {{else}}
                     <input type="hidden" name="theme" value="light"/>
                     <button type="submit" class="btn-style-change">Switch to Light</button>
                 {{/if}}
                </form>
            </div>
        </div>

        <div class="bar">
                <div class="byduedate">
                    <form action="/" method="get">
                        <input type="hidden" name="sort" value="duedate"/>
                        <button type="submit">By due Date</button>
                    </form>
                </div>
                <div class="bycreatdate">
                    <form action="/" method="get">
                        <input type="hidden" name="sort" value="createdAt"/>
                        <button type="submit">By creation Date</button>
                    </form>
                </div>
                <div class="byimportance">
                    <form action="/" method="get">
                        <input type="hidden" name="sort" value="importance" />
                        <button type="submit">By Importance</button>
                    </form>
                </div>
            <div class="filtering">
                <form action="/" method="get">
                    {{#if options.filter}}
                        <input type="hidden" name="filter" value="false" />
                        <button type="submit" class="btn-filter">show All</button>
                    {{else}}
                        <input type="hidden" name="filter" value="true" />
                        <button type="submit" class="btn-filter">hide Finished</button>
                    {{/if}}
                </form>
            </div>
        </div>
    </div>

    <section class="notes">
        {{#each list}}
            <article class="entry">
                <header>
                    <span class="notes-duedate">
                        <time datetime="{{duedate}}">{{duedate}}</time>
                    </span>
                    <span>{{this.title}}</span>
                    <div class="notes-importance">
                        {{#times this.importance}}
                            <span class="star"></span>
                        {{/times}}
                    </div>
                </header>
                <div class="notes-content">
                    <textarea readonly>{{description}}</textarea>
                </div>
                <div class="notes-actions">
                    <div class="isfinished">
                        <label><input type="checkbox" disabled="disabled" {{# if this.finished}}checked{{/if}}>Finished</label>
                    </div>
                    <div class="edit">
                        <a href="edit/{{this._id}}">
                            <button>edit</button>
                        </a>
                    </div>
                </div>
            </article>
        {{else}}
            <div>no Notes found</div>
        {{/each}}
    </section>
</main>